@model IEProject.Models.PublicToiletForm
@{
    ViewBag.Title = "TablePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TablePage</h2>
@using (Html.BeginForm("JourneyPlanner", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div id="print" style="margin-left:640px">

    <div style="background-color:white;font-size:10px">
        @Html.Label("This is a journey planner")
        <br />
        @Html.Label("You destination is")
        
        <br />
        @Html.Label("The information are locations nearest to  your destination.")
    </div>
    <br />

    <div id="let" style="display:none">
        <table id="data" font color="#FFFFFF" style="font-size:10px" class="table">

            <thead>
                <tr>


                    <th>
                        @Html.Label(" Toilet Address", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.Label(" Wheelchair", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.Label(" Male", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.Label(" Female", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>

                    <th>
                        @Html.Label("Distance(Meters)", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>

                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model.sorttoilets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => element.address)
                        </td>
                        <td>
                            @Html.DisplayFor(m => element.wheelchair)
                        </td>
                        <td>
                            @Html.DisplayFor(m => element.male)
                        </td>
                        <td>
                            @Html.DisplayFor(m => element.female)
                        </td>

                        <td>
                            @Html.DisplayFor(m => element.distance)
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="train" style="display:none">
        <table id="data2" font color="#FFFFFF" style="font-size:10px" class="table">

            <thead>
                <tr>


                    <th>
                        @Html.Label("Station", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.Label("Lift Present", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.Label("Distance(Meters)", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>

                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model.sorttrains)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => element.name)
                        </td>

                        <td>
                            @Html.DisplayFor(m => element.lift)
                        </td>
                        <td>
                            @Html.DisplayFor(m => element.distance)
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="b1" style="display:none">
        <table id="data3" font color="#FFFFFF" style="font-size:10px" class="table">

            <thead>
                <tr>

                    <th>
                        @Html.Label("Trade Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.Label("Industry Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.Label("Accessibility Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.Label("Establishment Address", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>





                    <th>
                        @Html.Label("Distance(Meters)", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>

                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model.sortbuildings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => element.type)
                        </td>
                        <td>
                            @Html.DisplayFor(m => element.industrydesc)
                        </td>
                        <td>
                            @Html.DisplayFor(m => element.accessdesc)
                        </td>
                        <td>
                            @Html.DisplayFor(m => element.address)
                        </td>







                        <td>
                            @Html.DisplayFor(m => element.distance)
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="car" style="display:none">
        <table id="data4" font color="#FFFFFF" style="font-size:10px" class="table">

            <thead>
                <tr>


                    <th>
                        @Html.Label("Parking BayId", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>
                    <th>
                        @Html.Label("Distance(Meters)", htmlAttributes: new { @class = "control-label col-md-2" })
                    </th>


                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model.sortparkingspots)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => element.id)
                        </td>


                        <td>
                            @Html.DisplayFor(m => element.distance)
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}